*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
.DS_Store
/build
/PetCare-submission.zip
/captures
.externalNativeBuild
.cxx
local.properties
*.db
*.db-shm
*.db-wal
**/build/
.idea/
.kotlin/
*.jks
*.keystore
